body {
  background: rgb(12, 17, 22);
  color: rgb(255, 255, 255);
  font-family: monospace;
  font-size: 13px
}
.app {
  width: 100%;
  height: 100%;
}
.header {
  display: flex;
  align-items: center;
  padding: 0px 12px;
  margin: 20px 0;
}
.giraffe-sm {
  width: 20px;
  margin-right: 10px;
}
.header-text {
  margin: 0;
}
.heading {
  display: flex;
  justify-content: space-between;
  padding: 5px 12px;
  color: rgb(135, 135, 135);
}
.heading-btn {
  cursor: pointer;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1px;
  padding: 12px 12px;  
}
.currency-col {
  display: flex;
  flex-direction: column;
}
.price-col {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.currency-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.currency-sep {
  margin: 0 3px;
  color: rgb(135, 135, 135);
}
.currency { 
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}
.favorite {
  margin-right: 10px;
  cursor: pointer;
}
.name {
  font-size: 13px;
  line-height: 20px;
  color: rgb(135, 135, 135);
}
.market-cap {
  font-size: 13px;
  line-height: 20px;
  color: rgb(135, 135, 135);
}
.price {
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
}
.price-c {
  font-size: 13px;
  line-height: 20px;
}
.price-p {
  color: rgb(46, 174, 52);
}
.price-n {
  color: rgb(249, 103, 45)
}