body {
  background: rgb(12, 17, 22);
  color: rgb(255, 255, 255);
  font-family: monospace;
}
.app {
  width: 100%;
  height: 100%;
}
.header {
  display: flex;
  align-items: center;
  padding: 0px 12px;
  margin: 20px 0;
}
.giraffeSmall {
  width: 20px;
  margin-right: 10px;
}
.headerText {
  margin: 0;
}
.heading {
  display: flex;
  justify-content: space-between;
  padding: 5px 12px;
  color: rgb(145, 145, 145);
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1px;
  padding: 12px 12px;  
}
.currency-col {
  display: flex;
  flex-direction: column;
}
.price-col {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.currency-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.currency-sep {
  margin: 0 3px;
  color: rgb(145, 145, 145);
}
.currency { 
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}
.name {
  font-size: 12px;
  line-height: 20px;
  color: rgb(145, 145, 145);
}
.price {
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
}
.price-change {
  font-size: 14px;
  line-height: 20px;
}
.price-positive {
  color: rgb(46, 174, 52);
}
.price-negative {
  color: rgb(249, 103, 45)
}