.heading {
  display: flex;
  justify-content: space-between;
  padding: 5px 12px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 12px;
  padding: 0 0 10px 0;
  border-bottom: 1px #e8e8e8 solid;
}
.box-heading {
  background: #fdc0763d;
  color: #262f3e;
  padding: 5px;
}
.market-cap-heading {
  text-align: left;
  width: 110px;
  margin-left: 38px;
}
.price-heading {
  text-align: right;
  width: 130px;
}
.price-c-heading {
  width: 80px;
  text-align: right;
}
.sparkline-heading {
  width: 145px;
  text-align: right;
}
.volume-heading  {
  width: 150px;
  text-align: right;
}