.heading {
  display: flex;
  justify-content: space-between;
  padding: 5px 12px;
  color: rgb(135, 135, 135);
}
.heading-btn {
  cursor: pointer;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1px;
  padding: 12px 12px;  
}
.currency-col {
  display: flex;
  flex-direction: column;
}
.price-col {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.currency-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.currency-sep {
  margin: 0 3px;
  color: rgb(135, 135, 135);
}
.currency {
  text-transform: uppercase; 
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}
.favorite-btn {
  cursor: pointer;
  background: none;
  border: none;
  padding: 5px;
  margin: 0 10px 0 0;
}
.favorite-btn:focus {
  outline: none;
}
.market-cap {
  font-size: 14px;
  line-height: 20px;
  color: rgb(135, 135, 135);
}
.price {
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
}
.price-c {
  font-size: 14px;
  line-height: 20px;
}
.price-p {
  color: rgb(46, 174, 52);
}
.price-n {
  color: rgb(249, 103, 45)
}